body {
    background-image: url(./img/start.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px ! important;
    padding: 0px ! important;
}

.text-mask {
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    padding: 10px;
    text-align: center;
}

.text-mask-white {
    background-color: rgb(255, 255, 255); 
    background-color: rgba(156, 156, 156, 0.651); 
    color: black;
    padding: 10px;
    font-size: large;
    font-style: italic;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 50%;
}


.div-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
}


.img-div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 400px;
}

.microcontent {
    padding: 20px;
}


.foot-dis {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
}

.btn-main {
    background-color: rgb(107, 107, 196);
    border-color: rgb(57, 129, 158);
    margin: 15px;
    font-size: 50px;
}